.places__link {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 0;
}

.places__link:hover {
  opacity: 0.8;
}
