.header__link {
  width: 30px;
  height: 28px;
}

.header__link:first-of-type {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__link {
    width: 22px;
    height: 20px;
  }
}