.footer {
  max-width: 1184px;
  padding: 0 48px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    flex-direction: column;
    padding: 0 0 24px 16px;
    margin: 0;
  }
}